#1. Write a Python program which accepts the user's first and last name and print them in reverse order with a space between them.

In [ ]:
fname = input("Input your First Name : ")
lname = input("Input your Last Name : ")
print (lname + " " + fname)

Input your First Name : Gopika
Input your Last Name : Suresh
Hello  Suresh Gopika

#2. Write a Python program which accepts the radius of a circle from the user and compute the area

In [ ]:
from math import pi
r = float(input ("Input the radius of the circle : "))
print ("The area of the circle with radius " + str(r) + " is: " + str(pi * r**2))

Input the radius of the circle : 10.5
The area of the circle with radius 10.5 is: 346.3605900582747

#3. Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn.

In [ ]:
a = int(input("Input an integer : "))
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
print(n1)
print(n2)
print(n3)
print (n1+n2+n3)

Input an integer : 2
2
22
222
246

#4. Write a Python program to get the volume of a sphere with radius 6

In [ ]:
from math import pi
r= 6.0
V= 4.0/3.0*pi* r**3
print('The volume of the sphere is: ',V)

The volume of the sphere is:  904.7786842338603

#5. Write a Python program to get the difference between a given number and 10, if the number is greater than 10 return double the absolute difference.

In [ ]:
def difference(n):
    if n <= 10:
        return 10 - n
    else:
        return (n - 10) * 2 

print(difference(22))
print(difference(7))
print(difference(3))

24
3
7

#6. Write a Python program to calculate the sum of three given numbers, if the values are equal then return thrice of their sum.

In [ ]:
def sum_thrice(x, y, z):

     sum = x + y + z
  
     if x == y == z:
      sum = sum * 3
     return sum

print(sum_thrice(1, 2, 3))
print(sum_thrice(10, 10, 10))

6
90

In [ ]:
sum=0
for i in range(5):
    sum=sum+i
    if i == 3:
        break
print (sum)

6

In [ ]:
sum=0
for i in range(5):
    sum=sum+i
    if i == 3:
        continue
print (sum)

10

In [ ]:
def func1():
 pass # Add real code here later
def func2():
 ...
def func3():
 pass
 ...
 print("Above two are placeholders")

In [ ]:
func1()

In [ ]:
func2()

In [ ]:
func3()

Above two are placeholders

#7. Write a Python program to calculate the sum of first n numbers using while loop

In [ ]:
sum = 0
count = 0

while(True):
    count = count + 1
    print(count)
    sum = sum + count 
    #print(sum)
    if count== 5:
        break
print("Sum of first",count,"numbers is: ", sum)

1
2
3
4
5
Sum of first 5 numbers is:  15

#7. Write a Python program to calculate the sum of first n numbers using for loop

In [ ]:
sum = 0
for count in range(100):
    sum = sum + count
    #print(sum)
    if count== 5:
        break
print("Sum of first",count,"numbers is: ", sum)

Sum of first 5 numbers is:  15

In [ ]:
def func1():
  print("There was a pass here")

In [ ]:
func1()

There was a pass here

In [ ]:
def func2(s)

SyntaxError: ignored