#Lists-List Values

In [ ]:
list1= [10, 20, 30, 40]
list2= ["spam", "bungee", "swallow"]
list3= ["hello", 2.0, 5, [10, 20]]

In [ ]:
print(list1)
print(list2)
print(list3)

[10, 20, 30, 40]
['spam', 'bungee', 'swallow']
['hello', 2.0, 5, [10, 20]]

In [ ]:
empty = []

In [ ]:
print(empty)

[]

In [ ]:
vocabulary = ["ameliorate", "castigate", "defenestrate"]
numbers = [17, 123,2.3]
empty = []

#Accessing Elements

The syntax for accessing the elements of a list is the same as the syntax for
accessing the characters of a string|the bracket operator ([]). The expression
inside the brackets specifies the index. Remember that the indices start at 0:

In [ ]:
numbers = [10, 20,30]

In [ ]:
print(numbers)

[10, 20, 30]

In [ ]:
numbers[2]

30

**Lists are mutable**

In [ ]:
print (numbers)
numbers[1] = 55
print(numbers)

[10, 20, 30]
[10, 55, 30]

The bracket operator can appear anywhere in an expression. When it appears
on the left side of an assignment, it changes one of the elements in the list, so the one-eth element of numbers, which used to be 123, is now 5.

Any integer expression can be used as an index:

In [ ]:
type(3/1)

float

In [ ]:
3/1

3.0

In [ ]:
numbers[3/1]

TypeError: ignored

In [ ]:
numbers[1.0]

TypeError: ignored

In [ ]:
numbers[4] = 5

IndexError: ignored

If an index has a negative value, it counts backward from the end of the list:

In [ ]:
numbers

[10, 55, 30]

In [ ]:
numbers[-4]

IndexError: ignored

#List traversal

In [ ]:
horsemen = ["war", "famine", 3, [1,2]]
i = 0
while i < 4:
  print (horsemen[i])
  i = i + 1

war
famine
3
[1, 2]

In [ ]:
len(horsemen)

4

#List length

The function len returns the length of a list. It is a good idea to use this value
as the upper bound of a loop instead of a constant

In [ ]:
len(horsemen)

4

In [ ]:
horsemen = ["war", "famine", "pestilence", "death"]
i = 0
while i < len(horsemen):
  print (horsemen[i])
  i = i + 1

war
famine
pestilence
death

Although a list can contain another list, the nested list still counts as a single
element. The length of this list is four:

As an exercise, write a loop that traverses the  list and prints
the length of each element. What happens if you send an integer to
len?

In [ ]:
listcheck =['spam!', 1, ['Brie', 'Roquefort', 'Pol le Veq'], [1, 2, 3]]

In [ ]:
len(listcheck)

4

#List membership

in is a boolean operator that tests membership in a sequence.

In [ ]:
fruits = ['apple','mango','orange']

In [ ]:
'orange' in fruits

True

In [ ]:
'banana' in fruits

False

In [ ]:
'banana' not in fruits

True

#Lists and for loops

In [ ]:
fruits = ['apple', 'mango', 'orange',3,'grape']

In [ ]:
for fruit in fruits:
  print ("I like to eat",fruit)

I like to eat apple
I like to eat mango
I like to eat orange
I like to eat 3
I like to eat grape

Range doesnot returns list in Python 3

In [ ]:
range(20)

range(0, 20)

In [ ]:
for number in range(20):
  if number % 2 == 0:
    print (number)

0
2
4
6
8
10
12
14
16
18

#List operations

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
print(a+b)

[1, 2, 3, 4, 5, 6]

the * operator repeats a list a given number of times:

In [ ]:
[1]*5

[1, 1, 1, 1, 1]

In [ ]:
[1, 2, 3] * 10

[1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3]

#List slices

In [ ]:
mylist = ['a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
mylist[1:4]

['b', 'c', 'd']

In [ ]:
mylist[:4]

['a', 'b', 'c', 'd']

In [ ]:
mylist[3:]

['d', 'e', 'f']

In [ ]:
list[:]

['a', 'b', 'c', 'd', 'e', 'f']

#List deletion

In [ ]:
a = ['one', 'two', 'three']

In [ ]:
del a[0]

In [ ]:
a

['two', 'three']

del handles negative indices and causes a runtime error
if the index is out of range.

In [ ]:
del a[-1]

In [ ]:
a

['two']

In [ ]:
del a[3]

IndexError: ignored

You can use a slice as an index for del:

In [ ]:
list = ['a', 'b', 'c', 'd', 'e', 'f']

slices select all the elements up to, but not including, the second index.

In [ ]:
del list[1:3]

In [ ]:
list

['a', 'd', 'e', 'f']

#Objects and values

In [ ]:
a = "banana"
b = "banana"

In [ ]:
id(a)

140509429668304

In [ ]:
id(b)

140509429668304

In [ ]:
c = [1, 2, 3]
d = [1, 2, 3]

In [ ]:
id(c)

140509429685640

In [ ]:
id(d)

140509429268552

#Aliasing

In [ ]:
d = [1, 2, 3]
e=d

In [ ]:
id(d)

140509429291016

In [ ]:
id(e)

140509429291016

Because the same list has two different names, a and b, we say that it is aliased.

Changes made with one alias affect the other

In [ ]:
d = [1, 2, 3]
e=d
e[0]=10

In [ ]:
print(e)

[10, 2, 3]

In [ ]:
print(d)

[10, 2, 3]

In general, it is safer to avoid aliasing when you are working with mutable
objects

#Cloning lists

If we want to modify a list and also keep a copy of the original, we need to
be able to make a copy of the list itself, not just the reference. This process is
sometimes called cloning

In [ ]:
a = [1, 2, 3]
b = a[:]
print (b)

[1, 2, 3]

In [ ]:
b[0] = 5
print (a)

[1, 2, 3]

Taking any slice of a creates a new list. In this case the slice happens to consist
of the whole list.
Now we are free to make changes to b without worrying about a

#List parameters

Passing a list as an argument actually passes a reference to the list, not a copy
of the list

In [ ]:
def head(list):
  return list[0]

In [ ]:
numbers = [1, 2, 3]

In [ ]:
head(numbers)

1

The parameter list and the variable numbers are aliases for the same object.

If a function modifies a list parameter, the caller sees the change

In [ ]:
def deleteHead(list):
 del list[0]

In [ ]:
numbers = [1, 2, 3]
deleteHead(numbers)
print(numbers)

[2, 3]

If a function returns a list, it returns a reference to the list.

In [ ]:
def tail(list):
  return list[1:]

In [ ]:
numbers = [1, 2, 3]
rest = tail(numbers)
print(rest)

[2, 3]

Because the return value was created with the slice operator, it is a new list.

#Nested lists

In [ ]:
list = ["hello", 2.0, 5, [10, 20]]

In [ ]:
list[3]

[10, 20]

In [ ]:
elt = list[3]
elt[1]

20

In [ ]:
list[3][1]

20

Bracket operators evaluate from left to right, so this expression gets the threeeth
element of list and extracts the one-eth element from it.

#Matrices

Nested lists are often used to represent matrices

matrix is a list with three elements, where each element is a row of the matrix.

In [ ]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

We can select an entire row from the matrix in the usual way:

In [ ]:
matrix[1]

[4, 5, 6]

Or we can extract a single element from the matrix using the double-index form

In [ ]:
matrix[1][1]

5

#Strings and lists

In [ ]:
song = "The rain in Spain..."
splitsong = song.split(" ")
print(splitsong)

['The', 'rain', 'in', 'Spain...']

In [ ]:
list = ['The', 'rain', 'in', 'Spain...']
songjoin = "-"
songjoin=songjoin.join(list)
print(songjoin)

The-rain-in-Spain...

In [ ]:
list = ['The', 'rain', 'in', 'Spain...']
songjoin = " "
songjoin=songjoin.join(list)
print(songjoin)

The rain in Spain...