#Lists-List Values

In [1]:
list1= [10, 20, 30, 40]
list2= ["spam", "bungee", "swallow"]
list3= ["hello", 2.0, 5, [10, 20]]

In [2]:
print(list1)
print(list2)
print(list3)

[10, 20, 30, 40]
['spam', 'bungee', 'swallow']
['hello', 2.0, 5, [10, 20]]

In [7]:
empty = []

In [8]:
print(empty)

[]

In [9]:
vocabulary = ["ameliorate", "castigate", "defenestrate"]
numbers = [17, 123]
empty = []

#Accessing Elements

The syntax for accessing the elements of a list is the same as the syntax for
accessing the characters of a string|the bracket operator ([]). The expression
inside the brackets specifies the index. Remember that the indices start at 0:

In [15]:
numbers = [10, 20]

In [16]:
print(numbers)

[10, 20]

**Lists are mutable**

In [17]:
print (numbers[0])
numbers[1] = 5

10

In [18]:
print(numbers)

[10, 5]

The bracket operator can appear anywhere in an expression. When it appears
on the left side of an assignment, it changes one of the elements in the list, so the one-eth element of numbers, which used to be 123, is now 5.

Any integer expression can be used as an index:

In [19]:
numbers[3-2]

5

In [20]:
numbers[1.0]

TypeError: ignored

In [21]:
numbers[2] = 5

IndexError: ignored

If an index has a negative value, it counts backward from the end of the list:

In [22]:
numbers[-1]

5

#List traversal

In [24]:
horsemen = ["war", "famine", "pestilence", "death"]
i = 0
while i < 4:
  print (horsemen[i])
  i = i + 1

war
famine
pestilence
death

#List length

The function len returns the length of a list. It is a good idea to use this value
as the upper bound of a loop instead of a constant

In [26]:
horsemen = ["war", "famine", "pestilence", "death"]
i = 0
while i < len(horsemen):
  print (horsemen[i])
  i = i + 1

war
famine
pestilence
death

Although a list can contain another list, the nested list still counts as a single
element. The length of this list is four:

As an exercise, write a loop that traverses the  list and prints
the length of each element. What happens if you send an integer to
len?

In [28]:
listcheck =['spam!', 1, ['Brie', 'Roquefort', 'Pol le Veq'], [1, 2, 3]]

In [29]:
len(listcheck)

4

#List membership

in is a boolean operator that tests membership in a sequence.

In [34]:
fruits = ['apple','mango','orange']

In [35]:
'orange' in fruits

True

In [36]:
'banana' in fruits

False

In [37]:
'banana' not in fruits

True

#Lists and for loops

In [40]:
for fruit in fruits:
  print ("I like to eat",fruit)

I like to eat apple
I like to eat mango
I like to eat orange

Range doesnot returns list in Python 3

In [42]:
for number in range(20):
  if number % 2 == 0:
    print (number)

0
2
4
6
8
10
12
14
16
18

#List operations

In [43]:
a = [1, 2, 3]
b = [4, 5, 6]
print(a+b)

[1, 2, 3, 4, 5, 6]

the * operator repeats a list a given number of times:

In [44]:
[1]*5

[1, 1, 1, 1, 1]

In [45]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

#List slices

In [46]:
list = ['a', 'b', 'c', 'd', 'e', 'f']

In [47]:
list[1:3]

['b', 'c']

In [48]:
list[:4]

['a', 'b', 'c', 'd']

In [49]:
list[3:]

['d', 'e', 'f']

In [50]:
list[:]

['a', 'b', 'c', 'd', 'e', 'f']

#List deletion

In [51]:
a = ['one', 'two', 'three']

In [52]:
del a[1]

In [53]:
a

['one', 'three']

del handles negative indices and causes a runtime error
if the index is out of range.

In [55]:
del a[-1]

In [56]:
a

['one']

In [58]:
del a[3]

IndexError: ignored

You can use a slice as an index for del:

In [59]:
list = ['a', 'b', 'c', 'd', 'e', 'f']

slices select all the elements up to, but not including, the second index.

In [60]:
del list[1:5]

In [61]:
list

['a', 'f']

#Objects and values

In [62]:
a = "banana"
b = "banana"

In [63]:
id(a)

140155729944448

In [64]:
id(b)

140155729944448

In [65]:
c = [1, 2, 3]
d = [1, 2, 3]

In [66]:
id(c)

140155729770824

In [67]:
id(d)

140155729751368

#Aliasing

In [68]:
d = [1, 2, 3]
e=d

In [69]:
id(d)

140155730607880

In [70]:
id(e)

140155730607880

Because the same list has two different names, a and b, we say that it is aliased.

Changes made with one alias affect the other

In [74]:
d = [1, 2, 3]
e=d
e[0]=10

In [75]:
print(e)

[10, 2, 3]

In [76]:
print(d)

[10, 2, 3]

In general, it is safer to avoid aliasing when you are working with mutable
objects

#List parameters

Passing a list as an argument actually passes a reference to the list, not a copy
of the list

In [77]:
def head(list):
  return list[0]

In [78]:
numbers = [1, 2, 3]

In [79]:
head(numbers)

1

The parameter list and the variable numbers are aliases for the same object.

If a function modifies a list parameter, the caller sees the change

In [80]:
def deleteHead(list):
 del list[0]

In [81]:
numbers = [1, 2, 3]
deleteHead(numbers)
print(numbers)

[2, 3]

If a function returns a list, it returns a reference to the list.

In [82]:
def tail(list):
  return list[1:]

In [83]:
numbers = [1, 2, 3]
rest = tail(numbers)
print(rest)

[2, 3]

Because the return value was created with the slice operator, it is a new list.

#Nested lists

In [84]:
list = ["hello", 2.0, 5, [10, 20]]

In [85]:
list[3]

[10, 20]

In [86]:
elt = list[3]
elt[1]

20

In [87]:
list[3][1]

20

Bracket operators evaluate from left to right, so this expression gets the threeeth
element of list and extracts the one-eth element from it.