Syntactically, a tuple is a comma-separated list of values

In [ ]:
tuple = 'a', 'b', 'c', 'd', 'e'

Although it is not necessary, it is conventional to enclose tuples in parentheses:

In [ ]:
tuple = ('a', 'b', 'c', 'd', 'e')

To create a tuple with a single element, we have to include the final comma:

In [ ]:
t1 = ('a',)

In [ ]:
type(t1)

tuple

Without the comma, Python treats ('a') as a string in parentheses:

In [ ]:
t2 = ('a')

In [ ]:
type(t2)

str

Operations on tuples are the same as the operations on
lists. The index operator selects an element from a tuple.

In [ ]:
tuple[0]

'a'

And the slice operator selects a range of elements.

In [ ]:
tuple[1:3]

('b', 'c')

Immutable

In [ ]:
tuple[0] = 'A'

TypeError: ignored

But if we try to modify one of the elements of the tuple, we get an error:

In [ ]:
tuple = ('A',) + tuple[1:]

In [ ]:
print(tuple)

('A', 'b', 'c', 'd', 'e')

#Tuple assignment

In [ ]:
a=3
b=2

In [ ]:
type(a)

int

In [ ]:
type(b)

int

In [ ]:
print(a,b)

3 2

In [ ]:
(a, b) = (b, a)

In [ ]:
type((a,b))

tuple

In [ ]:
print(a,b)

2 3

In [ ]:
(a, b, c, d) = (1, 2, 3)

ValueError: ignored

#Tuples as return values

In [ ]:
def swap(x, y):
 return (y, x)

In [ ]:
p=5
q=6

In [ ]:
(p,q)=swap(p,q)

In [ ]:
print(p)
print(q)

6
5

Another Method

In [ ]:
def swap2(x, y): 
 x, y = y, x
 return (x,y)

In [ ]:
a=5
b=6

In [ ]:
(a,b)=swap2(a,b)

In [ ]:
print(a)
print(b)

6
5

#Random Numbers

In [ ]:
[*range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
import random
for i in range(10):
  x = random.random()
  print (x)

0.8464005539519207
0.4648080388314757
0.10854234374297389
0.4853895985525172
0.7935539081662221
0.4443320252755262
0.28443444365704107
0.10216980523509211
0.24188864399727683
0.009575022330045813

#Generate a random number between low and high

In [ ]:
low=10
high=20
print([*range(low,high)])
import random
for i in range(low,high):
  x = random.random()
  print (round(x*high,1))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
13.7
9.6
3.0
3.3
0.4
19.0
5.5
15.7
5.5
17.3

#As an additional exercise, generate a random integer between low and high, including both end points.

In [ ]:
low=10
high=20
print([*range(low,high+1)])
import random
for i in range(low,high+1):
  x = random.random()
  print (round(x*high,1))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
1.2
16.3
1.8
11.8
16.3
8.6
15.7
1.1
3.2
1.3
8.7

#List of random numbers

In [ ]:
def randomList(n):
  s = [0] * n
  for i in range(n):
    s[i] = random.random()
  return s

In [ ]:
randomList(10)

[0.177442359639015,
 0.24035445788037602,
 0.6590108253970893,
 0.18201274818837998,
 0.4675651442535864,
 0.3993739718844548,
 0.2754665291119548,
 0.5378997002521186,
 0.4037280604976209,
 0.18895787087307192]

The numbers generated by random are supposed to be distributed uniformly,
which means that every value is equally likely.

If we divide the range of possible values into equal-sized "buckets," and count
the number of times a random value falls in each bucket, we should get roughly
the same number in each.

We can test this theory by writing a program to divide the range into buckets
and count the number of values in each.

In [ ]:
def randomList(n):
  s = [0] * n
  for i in range(n):
    s[i] = random.random()
  return s

In [ ]:
def inBucket(t, low, high):
  count = 0
  for num in t:
    if low < num < high:
      count = count + 1
  return count

In [ ]:
rlist1=randomList(100)
rlist2=randomList(500)

In [ ]:
low = inBucket(rlist1, 0.0, 0.5)
print(low)
high = inBucket(rlist1, 0.5, 1)
print(high)

59
41

In [ ]:
low = inBucket(rlist2, 0.0, 0.5)
print(low)
high = inBucket(rlist2, 0.5, 1)
print(high)

275
225

#Tuple Operations

In [ ]:
tuple = (1,2,3,4,5,6)

In [ ]:
tuple*2

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [ ]:
tuple+tuple

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)